.experience-section {
  padding: 2rem 1rem;
  padding-bottom: 6rem;
  background: linear-gradient(180deg, #0e000c, #000, #000);
  overflow: hidden;
}

.experience-section h2 {
  text-align: center;
  font-size: clamp(2rem, 6vw, 3.5rem);
  margin-bottom: 105px;
  font-family: sans-serif;
  color: white;
  font-weight: 900;
}

.highlight-exp {
  color: #d800d8;
  font-size: inherit;
}

.experience-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.experience-card {
  min-width: 280px;
  max-width: 350px;
  height: 360px;
  background: rgba(151, 53, 178, 0.075);
  border-radius: 15px;
  padding: 1.5rem;
  transition: all 0.3s ease;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.card-front {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition: all 0.3s ease;
}

.card-front h3 {
  color: #ffffff;
  margin-bottom: 44px;
  font-size: 1.3rem;
  margin: 1.5rem 0;
  font-weight: 500;
  max-width: 270px;
  font-family: sans-serif;
  text-align: center;
  line-height: 1.3;
}

.card-front .period {
  color: #d400c6;
  font-family: sans-serif;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.location {
  color: #ffffff8a;
  font-family: sans-serif;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

.company-logo {
  width: 160px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: brightness(300);
  margin: 0 auto;
}

.company-logo img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  margin: 25px 0 50px;
}

.card-details {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.5rem;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(2px);
}

.experience-card:hover .card-front {
  opacity: 0;
}

.experience-card:hover .card-details {
  opacity: 1;
}

.company-header {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.detail-logo {
  width: 55px;
  height: 55px;
  object-fit: contain;
}

.company {
  font-weight: 700;
  font-size: 1.2rem;
  color: #ffffff;
}

.highlights {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: center;
}

.highlights li {
  position: relative;
  margin-bottom: 0.8rem;
  color: #e9e9e9;
  font-size: 0.8rem;
  line-height: 1.5;
  padding-left: 1rem;
}

.bullet {
  color: #d300b7;
  position: absolute;
  left: 0;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 7px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.skill-tag {
  background: rgba(94, 0, 94, 0.2);
  color: #ff00ff;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 0.8rem;
  transition: transform 0.2s ease;
}

.skill-tag:hover {
  transform: translateY(-2px);
}



/* Tablet - 2 cards in a row */
@media (max-width: 1024px) and (min-width: 768px) {
  .experience-card {
    flex: 0 1 calc(50% - 1rem);
    max-width: calc(50% - 1rem);
  }
}

/* Mobile - stacked vertically */
@media (max-width: 767px) {
  .experience-container {
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
  }
  .experience-card {
    width: 70%;
    max-width: 400px;
    height: 490px;
  }
  .company-logo {
    width: 100px;
    height: 110px;
  }
  .company-logo img {
    margin: 15px 0 40px;
  }
  .card-front h3 {
    margin: 1rem 0;
    font-size: 1.2rem;
  }
}

/* Small mobile devices */
@media (max-width: 480px) {
  .experience-section h2 {
    font-size: 3rem;
    margin-top: 40px;
    margin-bottom: 120px;
  }

  .experience-section {
    padding: 2rem 0.5rem;
    padding-bottom: 90px;
  }
  .experience-card {
    height: 365px;
    padding: 1.2rem;
  }
  .highlights li {
    font-size: 0.85rem;
  }
  .skills-container {
    gap: 3px;
  }
  
  .skill-tag {
    font-size: 0.7rem;
  }
}

@media (min-width: 1920px){
  .experience-container {
    gap: 5rem;
  }
}